:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  transition: all 0.3s;

  &:not(.no-hover):hover {
    transform: translateY(-2px);
    filter: brightness(105%);
  }
}

div {
  flex: 1;
  border-radius: 4px;
  background-image: url(https://source.unsplash.com/random/300x400);
  background-size: cover;
  background-position: center;
}
