<mat-list role="list">
  <h3 mat-subheader>Zukünftige Filme</h3>
  <mat-list-item *ngFor="let r of upcoming; last as isLast" class="hoverable" role="link"
                 [routerLink]="['/reservation', r.id]"
                 [class.mb-16]="isLast">
    <mat-icon mat-list-icon svgIcon="theater"></mat-icon>
    <h4 mat-line>{{ r.movie.name }} ({{ r.presentation.date | parseDate | date: 'medium'}})</h4>
    <p mat-line> Reserviert um {{ r.reservationDate | parseDate | date: 'medium' }} Uhr</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Gesehene Filme</h3>
  <mat-list-item *ngFor="let r of seen" role="link" class="hoverable" [routerLink]="['/reservation', r.id]">
    <mat-icon mat-list-icon svgIcon="history"></mat-icon>
    <h4 mat-line>{{ r.movie.name }} ({{ r.presentation.date | parseDate | date: 'medium'}})</h4>
    <p mat-line> Reserviert um {{ r.reservationDate | parseDate | date: 'medium' }} Uhr</p>
  </mat-list-item>
</mat-list>
