<app-generic-overview entityName="Reservierung" entityNamePlural="Reservierungen"
                      [skipForm]="true" (selectItem)="onSelectItem($event)">
  <ng-container *appEntity="let item">
    <mat-icon mat-list-icon svgIcon="theater"></mat-icon>

    <div class="mat-list-text">
      <h4 mat-line class="flex al-center">
        {{ item.account.email }}
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;
        {{ item.movie.name }}
        <br/>
        Vorstellung:&nbsp;
        <ng-container *ngIf="(getPresentationDate(item) | async) as pDate; else spinner">
          {{ pDate | parseDate | date: 'medium' }}
        </ng-container>
        <ng-template #spinner>
          <mat-icon svgIcon="loading"></mat-icon>
        </ng-template>
      </h4>
      <p mat-line>#{{ item.id }}&nbsp;&nbsp;&bull;&nbsp;&nbsp;{{ item.seats.length }} Sitze&nbsp;&nbsp;&bull;&nbsp;&nbsp;reserviert
        am {{item.reservationDate | parseDate | date: 'medium' }}</p>
    </div>
  </ng-container>
</app-generic-overview>
<div *ngIf="selectedItem" id="reservation-admin-view">
  <mat-card>
    <mat-card-title><h2>Reservierung #{{ selectedItem.id }}</h2></mat-card-title>
    <mat-card-content>
      <h3>Reservierte Sitze</h3>
      <mat-chip-list>
        <mat-chip *ngFor="let seat of selectedItem.seats">{{ seat.row }}{{ seat.seatNumber }}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="'/reservation/new'" [queryParams]="{ presentation:  selectedItem.presentationId}" mat-flat-button color="primary">Zur Vorstellung</a>
    </mat-card-actions>
  </mat-card>
</div>
