<div class="grid-container">
  <h1 class="mat-display-1 mb-16">Aktuelles Kinoprogramm</h1>

  <mat-tab-group mat-stretch-tabs color="accent">
    <mat-tab *ngFor="let week of weeks$ | async">
      <ng-template mat-tab-label>
        {{ week.start | parseDate | date:'fullDate' }} - {{ week.end | parseDate | date:'fullDate' }}
      </ng-template>
      <ng-template matTabContent>
        <mat-grid-list [cols]="(isHandset$ | async) ? 1 : 5" rowHeight="400px" gutterSize="32px">
          <mat-grid-tile *ngFor="let movie of week.movies | sortMovies">
            <a [routerLink]="['/movie', movie.id]" class="block-100">
              <app-movie-card [movie]="movie"></app-movie-card>
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <h2 class="mat-hint mt-8" *ngIf="(weeks$ | async)?.length === 0 && !loading">Keine Filme gefunden ...</h2>
</div>
