<div id="card-wrapper">
  <app-movie-card [movie]="movie" class="no-hover"></app-movie-card>
</div>
<div id="presentations">
  <h1 class="mat-display-2"> Aufführungen </h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let p of movie.presentations | filterPast">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ p.date | parseDate | date: 'EEEE, d. MMM, HH:mm' }} Uhr
        </mat-panel-title>
        <mat-panel-description>
          {{ (cinemaHalls.getCinemaHall(p.cinemaHallId) | async)?.name  }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-divider class="mb-16"></mat-divider>
        <app-hall-overview [presentationId]="p.id" [selectable]="false"></app-hall-overview>
        <mat-divider class="mb-16"></mat-divider>
        <a mat-button routerLink="/reservation/new" [queryParams]="{ presentation: p.id }">
          Zur Sitzplatzauswahl
        </a>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div>
  <app-movie-all-infos-card [movie]="movie"></app-movie-all-infos-card>
</div>
